body{
  background: url('../../assets/images/marvelcomics.jpg');
  background-size: cover;
  opacity: 1;
  font-family: "Times New Roman";
}

#wrapper {
	max-width: 620px;
	margin: 20px auto 0;
	border: 5px solid red;
	border-radius: 5px;
	font-size: 20px;
	line-height: 25px;
	color: red;
	text-align: center;
	font-weight: bolder;
	background-color: white;
}

#wrapper h1 {
	font-size: 40px;
	line-height: 50px;
	color: red;
	text-align: center;
	font-weight: bolder;
	margin: 20px 20px 10px 20px;
	padding: 20px;
}

#wrapper p {
	font-size: 22px;
	font-weight: bolder;
	line-height: 25px;
	margin: 10px;
}

 #wrapper input {
 	font-size: 18px;
	/*font-weight: bold;*/
	line-height: 25px;
	margin: 5px;
 }

#infoDisplay p {
	font-size: 25px;
	margin: 10px 10px 30px 10px;
}

.hide {
	display: none;
}

button {
	text-align: center;
	height: 100px;
	width: 200px;
	background-color: red;
	padding: 20px;
	margin: 0 10px 20px 10px;
	color: white;
	font-size: 30px;
	line-height: 40px;
	border: 2px solid red;
	border-radius: 5px;
	font-weight: bolder;
}